 <!--/NAV-OPTIONS/-->
    <!--Mini nav opciones-->
    <nav id="nav-options" class="navbar bg-dark m-0 p-0 fs-6">
      <ul class="nav">
         <!--Facebook-->
        <li class="nav-item">
          <a class="nav-link  text-light" target="_blank" href="https://www.facebook.com/drstoreitalia"><i class="bi bi-facebook"></i><span class="d-none d-lg-inline-block">&nbsp; Facebook</span></a>
      </li>
        <!--Instagram-->
      <li class="nav-item">
          <a class="nav-link  text-light" target="_blank" href="https://www.instagram.com/d.r.store_italia/"><i class="bi bi-instagram"></i><span class="d-none d-lg-inline-block">&nbsp; Instagram</span></a>
      </li>
        <!--Whatsapp-->
      <li class="nav-item">
        <a class="nav-link text-light" target="_blank" href="https://api.whatsapp.com/send?phone=+34 617 53 16 77"><i class="bi bi-whatsapp"></i><span class="d-none d-lg-inline-block">&nbsp;WhatsApp</span></a>
      </li>
        <!--Teléfono-->
      <li class="nav-item">
        <a class="nav-link text-light" target="_blank" href="tel:+34 617 53 16 77"><i class="bi bi-telephone"></i><span class="d-none d-lg-inline-block">&nbsp; +34 617 53 16 77</span></a>
      </li>
      </ul>
      <ul class="nav ms-auto">
        <!--Tema oscuro/claro-->
          <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="bi bi-circle-half"></i><span class="d-none d-lg-inline-block">&nbsp; Tema</span></a>
        </li>
        <!--Idioma-->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light " href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-translate"></i><span class="d-none d-lg-inline-block">&nbsp; Español</span></a>
              <ul class="dropdown-menu dropdown-menu-end bg-dark estilo-hover animate__animated animate__fadeIn text-center">
                <li><a class="dropdown-item text-light animate__animated animate__fadeInDown" href="#">Español</a></li>
                <li><a class="dropdown-item text-light animate__animated animate__fadeInDown" href="#">Inglés</a></li>
                <li><a class="dropdown-item text-light animate__animated animate__fadeInDown" href="#">Italiano</a></li>
             </ul>
          </li>
      </ul>
    </nav>


