<!--/FOOTER/-->
<div id ="div-footer" class="container-fluid d-flex justify-content-center bg-dark text-light p-3 fira">
  <p class="align-self-center text-light">&copy; 2022: <a class="text-light" href="">D.R STORE ITALIA</a> | <a class="text-light" target="blank" href="https://www.freeprivacypolicy.com/live/d61b2813-8a1f-4331-b42a-fc70696f2a64">{{'Politica de privacidad' | translate}}</a> | <a class="text-light" target="blank" href="https://www.freeprivacypolicy.com/live/a2a87c07-874e-43f4-b952-29422242445a">Cookies</a></p>
</div>
