//Cambiar fuente del navegador
#navegador {
  font-family: monolisk-black;
}
.hoveruscar:hover, .dropdown-menu {
  border-style: none;
  border-radius: 0%;

}

.dropdown-toggle::after {
  content: none;
}
.animate__animated.animate__fadeInDown {
  --animate-duration: 0.7s;
}

//  //dropdown por hover
//  .dropdown:hover .dropdown-menu {
//   display: block;
//   margin-top: 0; // remove the gap so it doesn't close
// }

