// ----------------- OTROS ---------------------
//Fuente general
#navegador {
  font-family: 'Maven Pro', sans-serif;
}
//Para que el span no tengan wrap
.nowrap {
  white-space: nowrap;
}
// ---------------------------------------------
// ----------------- DROPDOWNS -----------------
//Quita el estilo por defecto de bootstrap sobre los dropdown
.estilo-hover:hover, .dropdown-menu {
  border-style: none;
  border-radius: 0%;
}
//Control sobre la animación de los dropdowns
.animate__animated.animate__fadeInDown {
  --animate-duration: 0.5s;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 0.75s;
}
//Quita la flecha de los dropdowns
.dropdown-toggle::after {
  content: none;
}
/*
// //dropdown por hover solo en la versión de escritorio
//  .escritorio-hover.dropdown:hover .dropdown-menu {
//   display: block;
//   margin-top: 0; // remove the gap so it doesn't close
// }
*/
.dropdown-menu.carrito {
  width: 290px;
  max-height: 350px;
  overflow-y:auto;
}
// ---------------------------------------------
// ------------ VALIDACIÓN DE FORMULARIOS ------
//Estilo de validación
.val-error {
  color: red !important;
  font-size: small;
  padding: 0;
  margin: 0;
}
//quitar check de validacion forms
.was-validated .form-control:valid, .form-control.is-valid {
  background-image: none !important;
}
// ---------------------------------------------
// ----------------- ALERTAS -------------------
//Estilo de alerta y flujo
#alertacreacionusuario {
position: fixed !important;
top: 6% !important;
right: 1% !important;
z-index: 1;
display: none;
}
#alertacomprarealizada {
  position: fixed !important;
  top: 6% !important;
  right: 1% !important;
  z-index: 1;
  display: none;
  }
// ---------------------------------------------
// ----------------- IMAGENES ------------------
//Tamaño de pic
#pic-usuario-profile {
  width: 320px !important;
  height: 320px !important;
  object-fit: contain;
}
// ---------------------------------------------
// ----------------- ESTILO DE MODALES ---------
//(Pendiente)
// ---------------------------------------------
// ----------------- CARRITO -------------------
#img-productos-carrito {
  width: 60px !important;
  height: 60px !important;
}
.estilo-navlink {
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none;
}
.estilo-navlink:hover {
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none;
}
//----------------------------------------------
//------Animaciones-----------------------------
#gear:hover{
  animation-iteration-count: 1s;
  animation-name: ckw;
  animation-duration: 1s;
  transform-origin: 50% 50%;
  display: inline-block;
  animation-timing-function: linear;

}
@keyframes ckw {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(180deg);
  }
}
//----------------------------------------------
//scrollbar-------------------------------------
// ::-webkit-scrollbar {
//   width: 12px;
//   background-color: #cececf;
// }
// ::-webkit-scrollbar {
//     width: 16px;

//   }
// ::-webkit-scrollbar-track {
//     border-radius: 100px;
//     background-color: #f0f0f1;
//   }

// ::-webkit-scrollbar-thumb {
//     border-radius: 80px;
//     border: 6px solid #cececf;
//     border-left: 0;
//     border-right: 0;
//     background-color: #cececf;
//   }
// ---------------------------------------------
//Perfil
#pic {
  position:relative;
  top: 60%;
  left: 10%;
}
#pic-s {
  position:relative;
  top: 10%;
  left: 10%;
}
#banner {
background-image: url(../../../assets/images/slider3.jpg);
background-size: cover;
height: 200px;
}

// //buttons
// //Colours
// $green: rgba(64,148,52,0.7);
// $red: rgba(87,121,140,0.7);
// $blue: #3498db;
// $yellow: #f1c40f;
// $purple: #8e44ad;
// $turquoise: #1abc9c;
// // Basic Button Style
// .btn:focus {outline:0 !important;}
// .btnxs {
//   box-sizing: border-box;
//   appearance: none;
//   background-color: transparent;
//   border: 2px solid $red;
//   color: $red;
//   cursor: pointer;
//   display: flex;
//   align-self: center;
//   font-size: 0.7rem;
//   font-weight: 400;
//   line-height: 0.3rem;
//   margin: 20px;
//   padding: 1.2em 2.8em;
//   text-decoration: none;
//   text-align: center;
//   text-transform: uppercase;
//   font-family: "Maven Pro", sans-serif;
// }
// .btn {
//   box-sizing: border-box;
//   appearance: none;
//   background-color: transparent;
//   border: 2px solid $red;
//   border-radius: 0.6em;
//   color: $red;
//   cursor: pointer;
//   display: flex;
//   align-self: center;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1;
//   margin: 20px;
//   padding: 1.2em 2.8em;
//   text-decoration: none;
//   text-align: center;
//   text-transform: uppercase;
//   font-family: "Maven Pro", sans-serif;


//   &:hover,
//   &:focus {
//     color: #fff;
//     outline: 0;
//   }
// }
// //BUTTON 1
// .first {
//   transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
//   &:hover {
//     box-shadow: 0 0 40px 40px $red inset;
//   }
// }
// // BUTTON 4
// .fourth {
//   // background: $yellow;
//   border-color: $red;
//   border-radius: 0;
//   color: $red;
//   background: {
//     image: linear-gradient(45deg,$red 50%, transparent 50%);
//     position: 100%;
//     size: 400%;
//   }
//   transition: 800ms ease-in-out;

//   &:hover {
//     background-position: 0;
//   }
// }

// //BUTTON 5
// .fifth {
//   border-color: $green;
//   // border: 0;
//   border-radius: 0;
//   color: $green;
//   position: relative;
//   overflow: hidden;
//   z-index: 2;
//   transition: color 800ms ease-in-out;

//   &:after {
//     content: '';
//     position: absolute;
//     display: block;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 0;
//     height: 100%;
//     background: $green;
//     z-index:-1;
//     transition: width 800ms ease-in-out;
//   }

//   &:hover {
//     color: #fff;
//     &:after {
//       width: 110%;
//     }
//   }
// }

