#contenedor-sobre-nosotros {
    text-align: justify;
    width: 80%;
}
#contenedor-c {
  text-align: justify;
  width: 80%;
}
#contenedor-horario {
  text-align: justify;
  width: 80%;
}
#contenedor-ubicacion {
  text-align: justify;
  width: 80%;
}
#contenedor-ubicacion {
  text-align: justify;
  width: 80%;
}
.mapa {
  height: 40vh !important;
  width: 100%;
}
