//animaciones
//carousel
//captions
.onimage {
  background-color: rgba(0, 0, 0, 0.7);
}
.fonttxs {
  font-size: 1rem;
}
.fontpxs {
  font-size: 0.5rem;
}
//Colours
$green: rgba(64,148,52,0.7);
$red: rgba(224,36,44, 0.7);
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;
// Basic Button Style
.btn:focus {outline:0 !important;}
.btnxs {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.3rem;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Maven Pro", sans-serif;
}
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Maven Pro", sans-serif;


  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}
// BUTTON 4
.fourth {
  // background: $yellow;
  border-color: $red;
  border-radius: 0;
  color: $red;
  background: {
    image: linear-gradient(45deg,$red 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: 800ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}

//BUTTON 5
.fifth {
  border-color: $green;
  // border: 0;
  border-radius: 0;
  color: $green;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: color 800ms ease-in-out;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $green;
    z-index:-1;
    transition: width 800ms ease-in-out;
  }

  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}
//Productos
#img-productos-carrito {
  width: 60px !important;
  height: 60px !important;
}
#tarjeta-producto {
  width: 300px;
  background: transparent;
  transition: 1s;
}
#tarjeta-producto:hover {
  transition: 1s;
  transform: scale(1.04);
}

#imagen-producto {
  height: 250px;
  object-fit:contain;
  transition: 1s;
}
#imagen-producto:hover {
  transition: 1s;

}
#titulo-producto {
  transition: 0.5s;
  font-family: 'Fira Sans Condensed', sans-serif;
}
#titulo-producto:hover {
  transition: 0.5s;
  color: #0dcaf0 !important;
}
#categoria-producto {
  font-style: italic;
}
.hovernav {
  transition: 0.5s;
  }
.hovernav:hover {
  transition: 0.5s;
  background-color: #0dcaf0;
}
#nav-prod2 {
width: 99% !important;
}
#contenedorproductos {

}
