//Productos
#img-productos-carrito {
  width: 60px !important;
  height: 60px !important;
}
#tarjeta-producto {
  width: 300px;
}
#imagen-producto {
  height: 250px;
  object-fit:contain;
  transition: 1s;
}
#imagen-producto:hover {
  transition: 1s;
  transform: scale(1.2);
}
#titulo-producto {
  transition: 0.5s;
  font-family: 'Fira Sans Condensed', sans-serif;
}
#titulo-producto:hover {
  transition: 0.5s;
  color: #0dcaf0 !important;
}
#categoria-producto {
  font-style: italic;
}
.hovernav {
  transition: 0.5s;
  }
.hovernav:hover {
  transition: 0.5s;
  background-color: #0dcaf0;
}
#nav-prod2 {
width: 99% !important;
}
#contenedorproductos {
  min-height: 90vh;
}
