/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: monolisk-black;
  src: url(assets/fonts/Monolisk-Black.ttf);
}
@font-face {
  font-family: droidsans;
  src: url(assets/fonts/DroidSans.ttf);
}

@font-face {
  font-family: CitrusGhotic-Regular;
  src: url(assets/fonts/Monolisk-Black.ttf);
}
//Cursor onclick
.pointer {
  cursor: pointer;
}
.contener {
  object-fit: contain;
}
.text-azulito {
  color: #0dcaf0;
}
.text-azulito:hover {
  color: #0dcaf0;
}
app-contacto {
  min-height: 83vh;
}
app-blog {
  min-height: 83vh;
}
app-blog-detail {
  min-height: 83vh;
}
app-productos {
  min-height: 83vh;
}
app-productos-detail {
  min-height: 83vh;
}
