//GLOBALES
.titulo {
  // font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.parrafo {
  font-family: 'Nunito', sans-serif;
}
#contenedorblogs {
  min-height: 90vh;

}
//CSS TARJETAS
#blog-carta {
  width: 450px;
  background: transparent;
  transition: 1s;

}
#blog-carta:hover {
  transition: 1s;
  transform: scale(1.04);
}
#imagen-carta {
  height: 300px;
}
#titulo-carta {
  transition: 0.5s;
}
#titulo-carta:hover {
  transition: 0.5s;
  color: #0dcaf0 !important;
}
#categoria-carta {
  font-style: italic;
}

#nav-blog2 {
width: 99% !important;

}

