<!-- /CREAR BLOG (BOTÓN)/ -->
<div class="container-fluid d-flex justify-content-center">
  <a class="nav-link pointer-cursor btn btn-success text-light m-4" href="#" data-bs-toggle="modal" data-bs-target="#crear-blog" *ngIf="usuarioactivo.tipo == 2">CREAR BLOG</a>
</div>
<!--------------------------- /MODALES/ --------------------------->
<!-- /MODAL CREACIÓN DE BLOG/ -->
<div class="modal fade" id="crear-blog">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
      <div id="modal-completo" class="modal-content">
          <!-- MODAL HEADER -->
          <div id="modal-head" class="modal-header">
              <h4 id="titulo-modal" class="modal-title">Crear blog</h4>
              <h4><i id="close-modal" class="bi bi-x-circle-fill" data-bs-dismiss="modal"></i></h4>
          </div>
          <!-- MODAL BODY -->
          <div id="body-modal" class="modal-body">
            <form (ngSubmit)="crearBlog()">
              <!-- TITULO -->
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Título" name="titulo" [(ngModel)]="blog.titulo">
              </div>
              <!-- CONTENIDO -->
              <div class="mb-3">
                <textarea class="form-control" placeholder="Contenido" name="contenido" [(ngModel)]="blog.contenido"></textarea>
              </div>
              <!-- IMAGEN -->
              <div class="mb-3">
                <input type="file" name="myImage" accept="image/png, image/gif, image/jpeg" (change)="onFileSelected($event)"/>
                <div class="text-center"><img [src]="blog.imagen" class="p-3 img-fluid"></div>

              </div>
              <!-- SUBMIT BUTTON -->
              <div class="d-grid">
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Crear blog</button>
            </div>
            </form>
          </div>
      </div>
  </div>
</div>

<!-- /MODAL EDITAR DE BLOG/ -->
<div class="modal fade" id="editar-blog">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
      <div id="modal-completo" class="modal-content">
          <!-- MODAL HEADER -->
          <div id="modal-head" class="modal-header">
              <h4 id="titulo-modal" class="modal-title">Editar blog</h4>
              <h4><i id="close-modal" class="bi bi-x-circle-fill" data-bs-dismiss="modal"></i></h4>
          </div>
          <!-- MODAL BODY -->
          <div id="body-modal" class="modal-body">
            <form (ngSubmit)="updateBlogs(blogeditado)">
              <!-- TITULO -->
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Título" name="titulo" [(ngModel)]="blogeditado.titulo">
              </div>
              <!-- CONTENIDO -->
              <div class="mb-3">
                <textarea class="form-control" placeholder="Contenido" name="contenido" [(ngModel)]="blogeditado.contenido"></textarea>
              </div>
              <!-- IMAGEN -->
              <div class="mb-3">
                <input type="file" name="myImage" accept="image/png, image/gif, image/jpeg" (change)="onFileSelected2($event)"/>
                <div class="text-center"><img [src]="blogeditado.imagen" class="p-3 img-fluid"></div>
              </div>
              <!-- SUBMIT BUTTON -->
              <div class="d-grid">
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Editar blog</button>
            </div>
            </form>
          </div>
      </div>
  </div>
</div>
<!----------------------------------------------------------------->
<!-- /BLOGS/ -->
<div class="container fluid d-flex justify-content-center">
  <div class="row justify-content-center">
    <div class="card p-0 col-sm-5 col-md-4 col-lg-4 col-xl-3" style="width:400px" *ngFor="let blog of blogs; let i = index">
      <img class="card-img-top img-fluid" [src]="blog.imagen" alt="Card image" [routerLink]="['/blog-detail', blog.id]">
      <div class="card-body d-flex justify-content-center">
        <a class="card-title fs-4 text-decoration-none text-dark" [routerLink]="['/blog-detail', blog.id]">{{blog.titulo}}</a>
      </div>
      <span class="text-center">{{blog.fecha | date:"dd/MM/yyyy"}}</span>
      <div class="d-flex justify-content-end p-2" *ngIf="usuarioactivo.tipo == 2">
        <button (click)="eliminarBlogs(blog.id, i)" class="btn btn-danger">Borrar</button>
      </div>
      <div class="d-flex justify-content-start p-2" *ngIf="usuarioactivo.tipo == 2">
        <button type="submit" class="btn btn-success"data-bs-toggle="modal" data-bs-target="#editar-blog" (click)="pasarInfo(blog)">Editar blog</button>
      </div>
    </div>
  </div>
</div>

